body {
  text-align: center;
  width: 100%;
  height: 100%;
  margin: 0;
}

a {
  margin-right: 10px;
  margin-left: 10px;
  background-color: lightpink;
  border-style: none solid;
  border-color: black;
  border-width: 1px;
}

figcaption {
  font-size: small;
}

#featured-property p {
  width: 800px;
  margin-right: auto;
  margin-left: auto;
}

#details {
  display: flex;
  background-color: red;
  justify-content: space-around;
}
